{% extends "base.html" %}
{% block content %}
<div class="bg"></div>
<div class="container">
    <div class="jumbotron">
        <h2><strong>Fractal Hiring Challenge</strong></h2>
        <p class="lead"><h2>"Amazon Reviews Search Engine" <br> Presented by Team - NLPGiants <br>
            Members - <br>
            <ol>
                <li>Rohan Damodar</li>
                <li>Vinod Boga</li>
                <li>Ankan Roy</li>
                <li>Nikhil Akki</li>
            </ol></h2></p>
    </div>

    <div class="col-md-12">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTgwFyVIahFe7CgrjYMShA2Cu_p6_dmFXf7kcn3y3xwijoJk0E2ATACR-_Xg8y4VaKQqR31ZuUXr8RK/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</div>
{% endblock content %}