{% extends "base.html" %}
{% block content %}

     <div class="container">
    <!--div class="jumbotron"></div-->
      <h1><strong>Fractal Hiring Challenge</strong></h1>
      <p class="lead"><h2>"Amazon Reviews Search Engine" <br>by Team - NLPGiants</h2></p>
      <hr>
    </div>

    <div class="container">
        <p class="lead"><h2>Ask a question about beauty products!</h2></p>
    <div class="form-group">
        <form method="POST" class="form-inline">
            {{ form.csrf_token }}
            {% if form.error %} <!--if start-->
                {{ form.error }}
            {% endif %}<!--if end-->
            {{ form.query(size="50", placeholder="Your Question",class="form-control") }}
            {{ form.productId(placeholder="Product ID", class="form-control") }}
            <button type="submit" class="btn btn-success" value="go">Search</button>
        </form>
    </div>
    </div>


    {% if output  %}<!--if start-->
    <div class="container">
      {% if output.answer is none and output.reviews is none  %}<!--if start-->
            <h2>Product ID - <strong>{{ query.ASIN_ID }}</strong> Doesn't exist!</h2>
        {% else %}
            {% if output.answer_sentiments is not none and output.qaRelScore is not none %}<!--if start-->
                <h2>Q &amp; A</h2>
                <h3>Question - {{ query.Search }}</h3>
                <p><strong>Anwser -</strong></span>{{ output.answer }}
                    <strong>Sentiment - {% if  "positive" in output.answer_sentiments %}
                           <span id="pos">{{ output.answer_sentiments }}</span>
                        {% elif  "negative" in output.answer_sentiments %}
                            <span id="neg">{{ output.answer_sentiments }}</span>
                            {% endif %}
                    </strong> <strong>Relevance Score - {{ output.qaRelScore }}</strong> </p>
            {% else %}
                <h3>No Q &amp; A found</h3>
            {% endif %}<!--Q&A if else--><!--if end-->


            {% if output.review_sentiments != none and output.rvRelScore != none %}<!--if start-->
              <h3>Top 3 Reviews {{ query.search }} of Product ID - <strong>{{ query.ASIN_ID }}</strong></h3>

            <div id="accordion" role="tablist" aria-multiselectable="true">
                {% for review in output.reviews %}

                  <div class="card">
                    <div class="card-header" role="tab" id="heading{{loop.index}}">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                            <h4>Review - {{ loop.index }} <strong>Sentiment - </strong> {% if output.review_sentiments[loop.index0] == "positive" %}
                            <span id="pos"> {{ output.review_sentiments[loop.index0] }}</span>

                        {% elif output.review_sentiments[loop.index0] == "negative" %}
                            <span id="neg">{{ output.review_sentiments[loop.index0] }}</span>
                        {% endif %}
                            <strong>Relevance Score - </strong> {{ output.rvRelScore[loop.index0] }} </h4>
                        </a>
                      </h5>
                    </div>

                    <div id="collapse{{loop.index}}" class="collapse show" role="tabpanel" aria-labelledby="heading{{loop.index}}">
                      <div class="card-block">
                        <div class="container">
                            <p>{{ review }} </p>
                        </div>

                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% else %}
                    <h3>Sorry! No relevant answer found for your question.</h3>
            {% endif %}<!--if end-->

        {% endif %}<!--none check--><!--if end-->
    {% endif %} <!--output--><!--if end-->

{% endblock content %}