{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1>Fractal Hiring Challenge</h1>

        </div>
        <h2>Ask a question about beauty products!</h2>

        <form method="POST">
            {{ form.csrf_token }}
            {% if form.error %}
                {{ form.error }}
            {% endif %}
            {{ form.query(size=50,placeholder='Your Question') }}
            {{ form.productId(size=10, placeholder='Product ID') }}

            <button type="submit" value="go">Search</button>
        </form>
    </div>

    <div class="container">
        <p>

            {% if output  %}
            {# {{ output }} #}
            <h4>Product ID - <strong>{{ query.ASIN_ID }}</strong> &amp; Query - <strong>{{ query.Search }}</strong></h4>
                {% if output.answer %}
                <h2>Q &amp; A</h2>

                <h3>Question - {{ query.Search }}</h3>
                <p><strong>Anwser -</strong> {{ output.answer }} <strong>Sentiment - {{ output.answer_sentiments }}</strong> <strong>Relevance Score - {{ output.qaRelScore }}</strong> </p>
                {% else %}

                <h3>No Q &amp; A found</h3>
                {% endif %}
                {% if query %}
                    {% if output.reviews %}
                  <h3>Top 5 Reviews -  {{ query.search }} </h3>
                    <ol>
                        {% for review in output.reviews %}
                            <li>
                                {{ review }} <strong>Sentiment - </strong> {{ output.review_sentiments[loop.index0] }}
                                <strong>Relevance Score - </strong> {{ output.rvRelScore[loop.index0] }}
                            </li>
                        {% endfor %}
                  </ol>
                    {% else %}
                    <h3>No Reviews Found</h3>
                  {% endif %}
                {% endif %}
            {% endif %}


        </p>
    </div>

{% endblock content %}