<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/favicon.png/')}}">
    <title>Amazon Reviews</title>
    {% include "snippets/style.html" %}
  </head>
  <body>
    {% include "snippets/nav.html" %}

    {% block content %}

    {% endblock content %}
   {% include "snippets/scripts.html" %}
  </body>
</html>