<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amazon Reviews</title>

</head>
<body>
    <div class="container">
        <h1>Fractal Hiring Challenge</h1>
        <h2>Ask a question about beauty products!</h2>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            {% if form.error %}
                {{ form.error }}
            {% endif %}
            {{ form.query(size=50,placeholder='Your Question') }}
            {{ form.productId(size=10, placeholder='Product ID') }}

            <button type="submit" value="go">Search</button>
        </form>

        <p>
            <ol>
                List of Previous Searches -
                <br>
                {% if searches %}


                {% for search in searches %}
                <li>
                    {{ search.Search }} - {{ search.ASIN_ID }}
                </li>

                {% endfor %}
                  {% endif %}
            </ol>
        </p>
    </div>

    <div class="container">
        <p>

            {% if output  %}
            {# {{ output }} #}
            <h2>Product ID - <strong>{{ query.ASIN_ID }}</strong></h2>
                {% if output.answer %}
                <h2>Q &amp; A</h2>

                <h3>Question - {{ query.Search }}</h3>
                <p><strong>Anwser -</strong> {{ output.answer }} <strong>Sentiment - {{ output.answer_sentiments }}</strong> <strong>Relevance Score - {{ output.qaRelScore }}</strong> </p>
                {% else %}

                <h3>No Q &amp; A found</h3>
                {% endif %}
                {% if query %}
                    {% if output.reviews %}
                  <h3>Top 5 Reviews -  {{ query.search }} </h3>
                    <ol>
                        {% for review in output.reviews %}
                            <li>
                                {{ review }} <strong>Sentiment - </strong> {{ output.review_sentiments[loop.index0] }}
                                <strong>Relevance Score - </strong> {{ output.rvRelScore[loop.index0] }}
                            </li>
                        {% endfor %}
                  </ol>
                    {% else %}
                    <h3>No Reviews Found</h3>
                  {% endif %}
                {% endif %}
            {% endif %}


        </p>
    </div>

</body>
</html>